/* szín ötletek
background-color: #f9f6ef;   border-bottom: 1px solid #A99788;  background-color: #998f85;  color: #f9f6ef; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@300;600&display=swap');

body{
    font-size: 18px;
    width: 100%;
    margin: 0px auto;
    font-family: "EB Garamond", serif;
    background-color: #f9f6ef77;
}

a.nav-link, body,.btn-light{
    color:  #91553c !important;
}

header, .choose-us h4{
    margin: 0px 50px;
}


header .navbar .collapse , .choose-us h4 {
    border-bottom: 1px solid #a57a568f;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
}

.nav-link, .index-ad,.quote p{
    font-size: 20px;
}

.nav-icons,.categories-card p, .index-ad i, button .btn-light,.quote{
   font-size: 22px;
}

.nav-item,.index-ad button{
    padding: 0px 25px;
}

.categories h3{
    margin: 50px;
}

   
.choose-us p, .choose-us h4{
    padding: 10px;
    margin: 10px;
} 

.index-ad h3, .choose-us h3,.categories h3,.AboutUs h3{
    text-transform: uppercase; 
}

.choose-us h3,.categories h3,.btn-light,.AboutUs h3{
    font-weight: 700;
}

.choose-us h3,.categories h3,.btn-light,.AboutUs h3,.quote h4{
    font-family: "Cinzel", serif;
}

.index-ad h3,.quote h4{
    font-weight: 600;
}

.index-ad{
    background-color: #ebddcf;
}

.logo{
    margin-left: 20px;
}
.choose-us i::before {
    border-radius: 60%;
    font-size: 80px;
    align-items: center;
    padding: 30px;  
    border: 3px solid #b16f53;

  }
  .btn.more, .input-group-text,.quote{
    background-color: #b16f53!important;
    color: #ffffff!important;
  }

  .form-control{
    border: 1px solid #aa634485;
    
  }

.choose-us h3{
    margin: 0px 10px;
}

.quote h4{
    font-weight: 300!important;
    margin: 20px 0px 10px 0px;
    padding: 30px 0px 30px 0px ;
}
.quote p{
    float: right;
    padding-right: 50px;
    font-style: italic;
}

#carouselExampleFade span {
    background-color: #DFD8C5 !important;
}

#carouselExampleFade button {
    margin: 0px -10%;
}

#carouselExampleFade {
    max-width: 300px;
    margin: 0 auto;
}

footer {
    border-top: 1px solid #a57a568f;
    margin-top: 20px;
}

.cards div {
    min-width: 75px;
    width: 13%;
    padding: 0 1%;
}

.cards img {
    width: 100%;
    color: #91553c;
}

.cards img:hover {
    filter: drop-shadow(0 0 10px rgba(165, 122, 86, 0.25));
}

footer a {
    color: #91553c !important;
    font-weight: 900;
}

footer li {
    padding: 0 !important;
}

footer .map {
    padding: 20px;
}

footer .navbar-expand-lg ul, footer .navbar, footer .collapse {
    align-items: flex-start !important;
}

footer .navbar-expand-lg ul {
    flex-direction: column !important;
}

footer .navbar {
    padding: 20px;
}

footer .navbar-brand, .social-icons {
    padding: 8px;
}

footer .navbar-brand {
    font-size: 22px;
}

footer iframe {
    height: 250px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(165, 122, 86, 0.2), 0 6px 20px 0 rgba(165, 122, 86, 0.19);
}

.quote{
    background-image: url(../img/quote-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

form button {
    background-color:#91553c !important;
    border: #91553c !important;
}