/* szín ötletek
background-color: #f9f6ef;   border-bottom: 1px solid #A99788;  background-color: #998f85;  color: #f9f6ef; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@300;600&display=swap');
body, .comments img, .cards img, footer iframe{
    width: 100%;
}

body{
    font-size: 18px;
    margin: 0px auto;
    font-family: "EB Garamond", serif;
    background-color: #f9f6ef77;
}

.categories-more {
   z-index: 2;
   background: rgb(249,246,239);
   background: linear-gradient(180deg, rgba(249,246,239,1) 1%, rgba(236,224,212,1) 24%, rgba(228, 217, 206, 0.849) 51%, rgba(239,227,215,1) 81%, rgba(249,246,239,1) 100%);
}

.cartItems td, .cartItems th {
    background-color: #f9f6ef77;
    border-color: #ebddcf;
}

.cartItems tbody tr, .cartItems tbody td {
    vertical-align: middle;
}

.cartItems button {
    border-color: #91553c;
    width: 40px;
    --bs-btn-hover-border-color: #91553c !important;
}

.cartItems button:hover {
    background-color: #ebddcf;
}

a.nav-link, .nav-icons a, body,.btn-light, .addToCart, .cartItems td, .cartItems th,.Top-Audio td,.Top-Audio th,#searchResults li a,#mobileSearchResults li a{
    color:  #91553c !important;
}

header, .choose-us h4{
    margin: 0px 50px;
}

header .navbar , .choose-us h4, .comment, #searchResults li a{
    border-bottom: 1px solid #a57a568f;
}


#searchResults{
    list-style-type: none;
     margin: 0;
     padding: 0;
     position: absolute;
     background-color: #ffffff;
     z-index: 2;
    }

#searchResults li a {
    padding: 10px;
    display: block;
  }

  .form-control {
    box-shadow: none !important;

}

.publisher-imgs div {
    border-left: 1px solid #a57a568f;
    padding: 0 55px;
}

.publisher-imgs div:last-of-type {
    border-right: 1px solid #a57a568f;
}

.nav-link{
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
}

.nav-link, .index-ad,.quote p, .Top-Audio td,.Top-Audio th,#searchResults li a, .comments p{
    font-size: 20px;
}

.nav-icons,.categories-card p, .index-ad i, button .btn-light,.quote,footer .navbar-brand{
   font-size: 22px;
}

.nav-item,.index-ad button{
    padding: 0px 20px;
}

.categories h3{
    margin: 50px;
}
.navbar-toggler,.addToCart{
    background-color: #fff;}

.addToCart {
    background-color: #fff;
    border-radius: 25px;
    border: 3px solid #ebddcf;
}
   
.choose-us p, .choose-us h4{
    padding: 10px;
    margin: 10px;
} 

.index-ad h3, .choose-us h3,.categories h3,.AboutUs h3, .comment h3, .smallcont h3, footer h4, .publishers h2, .book h4, .categories-more h3, .main-title{
    text-transform: uppercase; 
}

.choose-us h3,.categories h3,.btn-light,.AboutUs h3,.carousel-caption, .addToCart, .cartList h2,.categories-more h3{
    font-weight: 700;
}

.choose-us h3,.categories h3,.btn-light,.AboutUs h3,.quote h4,.carousel-caption,.categories-more h3,.Top-Audio td,.Top-Audio th{
    font-family: "Cinzel", serif;
}

.index-ad h3,.quote h4{
    font-weight: 600;
}

.checkout .col-6, .checkout .col-3 {
    padding-bottom: 15px;
}

.checkoutCards img {
    width: 100px
}

.index-ad, .audiobook, .cartItems thead th, .checkout, .offcanvas-header, .bookmarkContainer article:hover {
    background-color: #ebddcf;
}

.comments article {
    background-color: #DFD8C5;
    margin: 30px 0;
}

.comments article:nth-child(odd) {
    border-radius: 30px 0 0 30px
}

.comments article:nth-child(even) {
    border-radius: 0 30px 30px 0
}

.container.smallcont {
    width: 960px;
}

.comments img {
    border-radius: 50%
}

.logo{
    margin-left: 20px;
}
.publishers img {
    object-fit: cover;
    object-position: 50%;
    width: 200px
}

.choose-us i::before, .publishers img {
    border-radius: 60%;
    font-size: 80px;
    align-items: center;
    padding: 30px;  

  }

.suggestions article, .choose-us i::before, .publishers img{
    border: 3px solid #b16f53;
}

.btn.more, .input-group-text,.quote, .book, .cartList, .cartList td, .cartList th, .suggestions button, .toast-container .toast {
background-color: #b16f53!important;
color: #ffffff!important;
}

.suggestions button {
    border: none !important
}

.cartFinal, .cartFinal th{
    background-color: #844429 !important;
}

.cartList td, .cartList th {
    border: none !important
}

  .form-control, .card, .navbar-toggler{
    border: 1px solid #aa634485!important;
    
  }
  .card{
    z-index: 3 !important;
  }

.choose-us h3{
    margin: 0px 10px;
}

.quote h4{
    font-weight: 300!important;
    margin: 20px 0px 10px 0px;
    padding: 30px 0px 30px 0px ;
}
.quote p{
    float: right;
    padding-right: 50px;
    font-style: italic;
}

#carouselExampleFade span{
    background-color: #DFD8C5 !important;
}

#carouselExampleFade button {
    margin: 0px -10%;
}

#carouselExampleFade {
    max-width: 300px;
    margin: 0 auto;
}

footer {
    border-top: 1px solid #a57a568f;
    margin-top: 20px;
}

.cards div {
    min-width: 50px;
    width: 13%;
    padding: 0 1%;
}

.cards img, .card-body h5, .bookmarkContainer a, .offcanvas-header {
    color: #91553c!important;
}

.bookmarkContainer a p {
    font-size: 20px;
}

.cards img:hover {
    filter: drop-shadow(0 0 10px rgba(165, 122, 86, 0.25));
}

footer a {
    color: #91553c !important;
    font-weight: 900;
}

footer li {
    padding: 0 !important;
}

footer .map, footer .navbar, span.carousel-control-prev-icon, span.carousel-control-next-icon {
    padding: 20px;
}

footer .navbar-expand-lg ul, footer .navbar, footer .collapse {
    align-items: flex-start !important;
}

footer .navbar-expand-lg ul {
    flex-direction: column !important;
}

footer .navbar-brand, .social-icons {
    padding: 8px;
}


footer iframe {
    height: 250px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(165, 122, 86, 0.2), 0 6px 20px 0 rgba(165, 122, 86, 0.19);
}

.quote{
    background-image: url(../img/quote-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

form button, span.carousel-control-prev-icon, span.carousel-control-next-icon,.carousel-indicators button {
    background-color:#91553c !important;
    border: #91553c !important;
}

.carousel-item img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;
}

.carousel-caption{
    color: #9b3c14;
    font-size: 30px;
    -webkit-text-stroke: 1px #000000;
}
.categories-more .card{
    width: 15rem;
}
.Top-Audio table{
    margin: 100px 0px;
}

span.carousel-control-prev-icon, span.carousel-control-next-icon{
    border-radius: 10px;
}
a, .nav-link, #searchResults li a,#mobileSearchResults li a{
    text-decoration: none;
}

.shelf{
    padding: 0px !important;
    width: 100%;
    height: 100px;
    z-index: 2;
    position: relative;
    bottom: 80px;
    opacity: 0.9;
    margin: 0px auto;
}

.shelf img{
    box-shadow: -1px 20px 14px -15px  rgba(0, 0, 0, 0.75);
    height: 100%;
  
}
.collapse.show{
    padding: 0px;
}

.audiobook button {
    background-color: inherit;
    padding: 0;
    border: none;
    color: #844429;
}

.cartItems .removeItem {
    background-color: inherit;  
    padding: 0;
    border: none;
    width: 20px;
}


.removeBookmark, .cartNone {
    display: none;
}

@media only screen and (max-width: 1570px) {
    .checkoutCards {
        width: 100% !important;
    }

    .checkoutCards div {
        padding-bottom: 20px;
    }
    .categories img{
        width: 60%;
    }
   
}

@media only screen and (max-width: 1400px) {
    .publisher-imgs div, .publisher-imgs div:last-of-type {
        border: none;
        padding-bottom: 20px;
    }
    .categories img{
        width: 70%;
    }
    .carousel-item img{
        height: 500px;
    }
}

@media only screen and (max-width: 990px) {
    .input-group{
        padding: 20px 0px;
    }
    .nav-icons{
        padding-bottom: 20px;
        font-size: 24px;
    }
   
}

@media only screen and (max-width: 576px) {
    .container.smallcont {
        width: 100%;
    }

    .container.smallcont article {
        width: 100% !important;
    }

    .comments .img-holder {
        width: 150px;
        margin: 0 auto;
    }

    .comments article {
        border-radius: 30px !important;
    }

    #carouselExampleFade button {
        margin: 0px 5%;
    }
    .categories img{
        width: 50%;
    }
    .shelf-row{
       display: none !important; }

    .navbar-collapse .logo{
        display: none;
    } 
    
    .carousel-item img{
        height: 400px;
    }

}